<div id="app">
<el-container style="border: 1px solid #eee">
  <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
    <el-menu>
      <el-menu-item index="1">
        <i class="el-icon-menu"></i>
        <span>Dashboard</span>
      </el-menu-item>
    <el-menu-item index="1">
        <i class="el-icon-user"></i>
        <span>CRM</span>
      </el-menu-item>
    <el-menu-item index="1">
        <i class="el-icon-folder"></i>
        <span>Portfolio</span>
      </el-menu-item>
    <el-menu-item index="1">
        <i class="el-icon-graph"></i>
        <span>Statistics</span>
      </el-menu-item>
    <el-menu-item index="1">
        <i class="el-icon-graph"></i>
        <span>Payments</span>
      </el-menu-item>
    <el-menu-item index="1">
        <i class="el-icon-graph"></i>
        <span>Settings</span>
      </el-menu-item>
    </el-menu>
  </el-aside>
  
  <el-container>
    <el-header style="text-align: right; font-size: 12px">
      <el-dropdown>
        <i class="el-icon-setting" style="margin-right: 15px"></i>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>Profile</el-dropdown-item>
          <el-dropdown-item>Logout</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
      <span>Tom</span>
    </el-header>
    
    <el-main>
      <graph-component></graph-component>
    </el-main>
  </el-container>
</el-container>
</div>