<template src='./Home.html'>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import GraphComponent from '@/components/Graph.vue';

    @Component({
        name: 'home',
        components: {GraphComponent},
    })
    export default class Home extends Vue {
    }
</script>

<style scoped>
    .el-menu {
        background-color: #409AE5;
    }

    .el-menu-item {
        color: rgba(255,255,255, 0.5)
    }
    .el-header {
        background-color: #ffffff;
    } 
    .el-menu-item:hover, .el-menu-item:focus {
        background-color: #409AE5;
        color: #ffffff;
    }
    .el-menu-item i {
        color: inherit;
    }
    .el-aside {
        border-top-right-radius: 50px;
    }
</style>
