<div>
	<el-row>
		<el-col :span="24">
			<el-card class="box-card">
				<div class="grid-content bg-purple-dark">
					<el-table :data="tableData" style="width: 100%">
						<el-table-column prop="name" label="Name" width="180">
						</el-table-column>
						<el-table-column prop="deposit" label="Deposit" width="180">
						</el-table-column>
						<el-table-column prop="withdrawals" label="Withdrawals">
						</el-table-column>
						<el-table-column prop="portfolioValue" label="Portfolio Value">
						</el-table-column>
						<el-table-column prop="pl" label="P&L">
						</el-table-column>
						<el-table-column prop="fees" label="Fees">
						</el-table-column>
					</el-table>
				</div>
			</el-card>
		</el-col>
	</el-row>
	<br>
	<br>
	<el-row>
		<el-col :span="24">
			<el-card class="box-card">
				<div class="grid-content bg-purple">
					<LineChart></LineChart>
				</div>
			</el-card>
		</el-col>
	</el-row>
</div>