<template src='./Graph.html'></template>
<style src='./Graph.css'>
</style>

<script lang='ts'>
import {Component, Vue} from 'vue-property-decorator';
import VueCharts from 'vue-chartjs';
import {Bar, Line} from 'vue-chartjs';
import LineChart from './LineGraph.vue';

@Component({
  components: {
	LineChart,
  },
})
export default class GraphComponent extends Vue {
	private tableData: any[] = [
		{
			name: 'klientTest',
			deposit: 17960.8,
			withdrawals: 0,
			portfolioValue: 18121.0,
			pl: 167.52,
			fees: 818.4,
		},
		{
			name: 'Michal89',
			deposit: 32212.8,
			withdrawals: 10,
			portfolioValue: 2332.0,
			pl: 223.52,
			fees: 1112.4,
		},
		{
			name: 'test3',
			deposit: 233.8,
			withdrawals: 22,
			portfolioValue: 233332.0,
			pl: 22.52,
			fees: 33.4,
		},
		{
			name: 'test4',
			deposit: 442.8,
			withdrawals: 233,
			portfolioValue: 434.0,
			pl: 23433.52,
			fees: 111442.4,
		},
	];
}
</script>


